/* Container do switch */
.switchField {
    display: flex;
    align-items: center;
    gap: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    /* Largura do fundo */
    height: 28px;
    /* Altura do fundo */

    & span {
        color: var(--content-primary);
        font-family: var(--font-secondary);
        font-size: 12px;
        font-weight: 400;
    }
}

/* Esconde o checkbox original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* O fundo do Switch (desligado) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--content-tertiary);
    /* Cor cinza quando desligado */
    transition: .4s;
    border-radius: 34px;
    z-index: 1;
    overflow: hidden;

}

/* Cria uma camada invisível com o gradiente por cima */
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--accent-pink) 0%, var(--accent-blue) 100%);
    opacity: 0;
    /* Começa invisível */
    transition: opacity 0.4s ease;
    /* Anima a opacidade, não a cor */
    z-index: -1;
}

/* A bolinha branca do Switch */
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--content-primary);
    transition: .4s;
    border-radius: 50%;
}

/* Quando o Switch está ligado (checked) */
.switch input:checked+.slider {
    /* Aplica o gradiente no fundo */
    background: linear-gradient(90deg, var(--accent-pink) 0%, var(--accent-blue) 100%);
}

/* Quando ligado, a camada do gradiente aparece suavemente */
.switch input:checked+.slider::after {
    opacity: 1;
}

/* Move a bolinha para a direita quando ligado */
.switch input:checked+.slider:before {
    transform: translateX(28px);
}

.btnPrimary {
    width: 100%;
    background: var(--background-tertiary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 16px;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    display: flex;
    z-index: 1;
}

.btnPrimary::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    /* espessura da borda */
    border-radius: 8px;

    background: linear-gradient(270deg,
            #9747ff,
            #00ffd5,
            #ff7ad9,
            #9747ff);
    background-size: 600% 600%;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.btnPrimary:hover::before {
    opacity: 1;
    animation: gradientBorder 3s linear infinite;
}


.btnPrimary:hover {
    background: var(--background-secondary);
}

.btnIcon {
    transition: transform 0.3s ease;
}

@keyframes iconMove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}

.btnPrimary:hover .btnIcon {
    animation: iconMove 0.4s ease-in-out 3;
}

.btnPrimary:hover .btnIcon {
    transform: translateX(0);
}