.field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.field label {
    font-size: 16px;
    font-weight: 700;
    color: #C7C9CC;
    line-height: 150%;
}

.field input {
    background: var(--background-secondary);
    border: 1px solid var(--background-secondary);
    border-radius: 8px;
    padding: 8px;
    color: white;
    text-align: center;
    height: 56px;
    width: 100%;
    max-width: 80px;
    font-size: 32px;
    font-weight: 700;
    outline: none;
    appearance: none;
    margin-bottom: 20px;
}

.inputGroup {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.field input:focus {
    border-color: var(--background-brand);
}

/* Remove as setas para Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas para Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}