* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fontes */
    --font-family: "Sora", sans-serif;
    --font-primary: "Roboto Flex", sans-serif;
    --font-secondary: "Roboto Mono", monospace;

    /* colors content */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* colors background */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* Accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0A8;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;
    --content-gray-light: #C7C9CC;
    --content-gray-dark: #3D3D3D;

    /* Gradients */
    --gradient-background: linear-gradient(90deg, var(--accent-pink) 0%, var(--accent-blue) 98.93%);
    --gradient-content: linear-gradient(90deg, var(--content-gray-light) 0%, var(--content-gray-dark) 100%);
    --gradient-border: linear-gradient(90deg,
            #77C0AF 0%,
            #D1DC97 14.84%,
            #E9A9B3 32.15%,
            #D586E0 65.79%,
            #91A1FA 84.58%);
}

body {
    background-color: var(--background-primary);
    background-image: linear-gradient(to bottom,
            #000000 0%,
            #000000 20%,
            rgba(0, 0, 0, 0.8) 50%,
            transparent 100%), url('/img/background.png');
    color: var(--content-primary);
    font-family: var(--font-primary);
    height: 100vh;
    /* Força a altura a ser exatamente a da janela */
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    justify-content: space-between;
    align-items: flex-start;
    /* Espaço entre a coluna da esquerda e a da direita */
    gap: 108px;
}