#screenResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza tudo horizontalmente */
    text-align: center;
    gap: 40px;
    /* Espaço entre o cabeçalho, os números e o botão */
    width: 100%;
    max-width: 482px;
    /* Largura exata medida no seu Figma */
    margin: 0 auto;

}

.resultHeader h2 {
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--content-primary);
    margin-bottom: 4px;
}

.resultCount {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 500;
    color: var(--content-secondary);
    text-transform: uppercase;
}

.numbersGrid {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    /* Para os números pularem de linha se forem muitos */
}

.numberBall {
    font-family: var(--font-secondary);
    color: var(--content-brand);
    font-size: 48px;
    font-weight: 700;
}

.btnSecondary {
    width: 482px;
    box-sizing: border-box;
    background: var(--background-tertiary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnSecondary::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    /* espessura da borda */
    border-radius: 8px;

    background: linear-gradient(270deg,
            #9747ff,
            #00ffd5,
            #ff7ad9,
            #9747ff);
    background-size: 600% 600%;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.btnSecondary:hover::before {
    opacity: 1;
    animation: gradientBorder 3s linear infinite;
}


.btnSecondary:hover {
    background: var(--background-secondary);
}

.btnSecondary img {
    width: 20px;
    height: 20px;
    /* Tamanho do ícone de restart */
}

/* 1. Define a animação de rotação */
@keyframes spinThreeTimes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
        /* 360 graus * 3 voltas = 1080 */
    }
}

/* 2. Aplica ao ícone quando o botão recebe o hover */
.btnSecondary:hover img {
    /* spinThreeTimes: nome da animação
       ease-in-out: começa devagar, corre e termina devagar
    */
    animation: spinThreeTimes 4s ease-in-out;
}

/* Estilo base para garantir que o ícone suporte a rotação */
.btnSecondary img {
    display: inline-block;
    transition: transform 0.5s ease;
}